#############
## Haskell
#############
result
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hsenv
.cabal-sandbox/
dist/
dist-newstyle/
cabal.sandbox.config
cabal.config
.stack-work/
.ghc.environment*
cabal.project.local
*.exe


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


#############
## Mac detritus
#############
.DS_Store
